.home {
    grid-area: main;
}

.homeContainer {
    padding: 20px;
    color: white;
}

.profileBanner {
    position: relative;
    width: 100%;
    height: 250px;
    background: var(--navbar-color);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 10px;
}

.profileImage {
    position: absolute;
    top: 50%;
    left: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    transform: translateY(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.profileInfo {
    position: absolute;
    top: 50%;
    left: 200px;
    transform: translateY(-50%);
    z-index: 2;
}

.welcomeMessage {
    font-size: 28px;
    margin-bottom: 10px;
    line-height: 1.2;
}

.username {
    color: #1DB954;
}

.followers, .following {
    font-size: 16px;
}

.featuredPlaylists {
    margin-top: 30px;
}

.playlistTitle {
    font-size: 20px;
    margin-bottom: 20px;
}

.playlists {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
}

.playlistCard {
    background-color: #181818;
    border-radius: 8px;
    padding: 10px;
    text-align: center;
}

.playlistImage {
    width: 100%;
    height: 150px;
    border-radius: 8px;
    object-fit: cover;
}

.playlistName {
    font-size: 14px;
    margin-top: 10px;
}

.loadingContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 24px;
    color: white;
    background-color: #181818;
}
