.navbar {
    grid-area: navbar;
    width: 100%;
    background-color: var(--navbar-color);
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #535353;
}

.logoWrapper {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
}

.logo {
    height: 50px;
    width: 50px;
}

.brandText {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    letter-spacing: 1px;
    transition: color 0.3s ease;
    padding-bottom: 5px;
    border-right: 1px solid #535353;
    padding-right: 10px;
}

.searchWrapper {
    position: relative;
    flex-grow: 1;
    max-width: 500px;
    margin: 0 auto;
}

.searchInput {
    padding: 15px 15px 15px 40px;
    border: 1px solid #535353;
    border-radius: 30px;
    background-color: var(--background-color);
    color: var(--text-color);
    width: 100%;
    outline: none;
    font-size: 18px;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: var(--subtext-color);
    font-size: 26px;
}

.searchInput::placeholder {
    color: var(--subtext-color);
}

.clearIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: var(--subtext-color);
    font-size: 20px;
    cursor: pointer;
    background: none;
    border: none;
}

.searchInput::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

.searchInput::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

.iconWrapper {
    display: flex;
    align-items: center;
    gap: 40px;
    padding-right: 30px;
}

.notificationButton {
    background: none;
    border: none;
    cursor: pointer;
}

.notificationIcon {
    color: var(--text-color);
    font-size: 30px;
}

.notificationIcon:hover {
    transform: scale(1.1);
}

.profileIcon {
    color: var(--text-color);
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
}

.profileIcon:hover {
    transform: scale(1.05);
}

.profileMenu {
    position: relative;
}

.dropdownMenu {
    position: absolute;
    top: 55px;
    right: -20px;
    background-color: var(--footer-color);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.dropdownItem {
    padding: 10px 10px;
    font-size: 16px;
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
    display: block;
    text-align: left;
    width: 200px;
}

.dropdownItem:hover {
    background-color: var(--subtext-color);
}

.tooltip {
    position: absolute;
    bottom: -42px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--tooltip-color);
    color: var(--text-color);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    white-space: nowrap;
    z-index: 11;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease, visibility 0.2s ease;
}

.iconContainer {
    position: relative;
    display: inline-block;
}

.iconContainer:hover .tooltip {
    visibility: visible;
    opacity: 1;
    border: 1px solid #535353;
}


@media (max-width: 768px) {
    .navbar{
        justify-content: space-between;
    }
    
    .searchWrapper {
        display: none;
    }

    .logo{
        width: 40px;
        height: 40px;
    }

    .brandText {
        font-size: 1rem;
        letter-spacing: 2px;
    }
}
