.footer {
    grid-area: footer;
    background-color: var(--footer-color);
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    border-top: 1px solid #535353;
}

.leftSection, .centerSection, .rightSection {
    display: flex;
    align-items: center;
}

.leftSection {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 15px;
}

.albumCover {
    width: 50px;
    height: 50px;
}

.trackInfo {
    color: var(--text-color);
    display: flex;
    flex-direction: column;
}

.trackTitle {
    font-size: 1rem;
}

.artistName {
    font-size: 0.7rem;
    color: var(--subtext-color);
}

.progressContainer {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 500px;
}

.currentTime {
    font-size: 12px;
    color: var(--subtext-color);
    margin-right: 8px;
}

.trackProgress {
    flex: 1;
}

.trackLength {
    font-size: 12px;
    color: var(--subtext-color);
    margin-left: 8px;
}

.centerSection {
    flex: 1;
    justify-content: center;
    gap: 20px;
}

.icon {
    color: var(--text-color);
    font-size: 25px;
    cursor: pointer;
    transition: color 0.3s;
}

.icon:hover{
    border-bottom: 1px solid var(--subtext-color);
}

.active {
    color: var(--accent-color);
}

.playIcon {
    color: var(--accent-color);
    font-size: 40px;
}

.heartIcon {
    font-size: 18px;
    min-width: 18px;
    min-height: 18px;
}

.playIcon:hover {
    border-bottom: 1px solid var(--subtext-color);
}

.rightSection {
    flex: 1;
    justify-content: flex-end;
    gap: 20px;
}

.volumeControl {
    width: 100px;
}

@media (max-width: 768px) {
    .footer {
        flex-direction: column;
    }

    .rightSection {
        display: none;
    }

    .trackTitle {
        font-size: 0.7rem;
    }

    .artistName {
        font-size: 0.5rem;
    }

    .trackProgress {

    }
}

@media (max-width: 400px) {
    .trackProgress {
        max-width: 100px;
    }
}
