:root {
    --background-color: #121212;
    --navbar-color: #2a2a2a;
    --footer-color: #333841;
    --text-color: #ffffff;
    --subtext-color: #b3b3b3;
    --accent-color: #00FF59;
    --font-family: 'IBM Plex Sans';
}

* {
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: var(--font-family), sans-serif;
}
