:root {
    --background-color: #121212;
    --sidebar-color: #032e12;
    --text-color: #ffffff;
    --link-hover-color: #0c5524;
    --font-family: 'IBM Plex Sans';
}

body{
    background-color: var(--background-color);
    font-family: var(--font-family), sans-serif;
}
